<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.martin.lemonblog.mapper.UserMapper">

    <resultMap type="com.martin.lemonblog.entity.entity.User" id="UserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="roles" column="roles" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="INTEGER"/>
        <result property="profile" column="profile" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          user_id, nickname, real_name, phone_number, address, avatar, email, roles, birthday, profile
        from user
        where user_id = #{userId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          user_id, nickname, real_name, phone_number, address, avatar, email, roles, birthday, profile
        from user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="realName != null and realName != ''">
                and real_name = #{realName}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="roles != null and roles != ''">
                and roles = #{roles}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="profile != null and profile != ''">
                and profile = #{profile}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="realName != null and realName != ''">
                and real_name = #{realName}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="roles != null and roles != ''">
                and roles = #{roles}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="profile != null and profile != ''">
                and profile = #{profile}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into user(nickname, real_name, phone_number, address, avatar, email, roles, birthday, profile)
        values (#{nickname}, #{realName}, #{phoneNumber}, #{address}, #{avatar}, #{email}, #{roles}, #{birthday}, #{profile})
    </insert>

    <insert id="insertBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into user(nickname, real_name, phone_number, address, avatar, email, roles, birthday, profile)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.nickname}, #{entity.realName}, #{entity.phoneNumber}, #{entity.address}, #{entity.avatar}, #{entity.email}, #{entity.roles}, #{entity.birthday}, #{entity.profile})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into user(nickname, real_name, phone_number, address, avatar, email, roles, birthday, profile)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nickname}, #{entity.realName}, #{entity.phoneNumber}, #{entity.address}, #{entity.avatar}, #{entity.email}, #{entity.roles}, #{entity.birthday}, #{entity.profile})
        </foreach>
        on duplicate key update
        nickname = values(nickname),
        real_name = values(real_name),
        phone_number = values(phone_number),
        address = values(address),
        avatar = values(avatar),
        email = values(email),
        roles = values(roles),
        birthday = values(birthday),
        profile = values(profile)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number = #{phoneNumber},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="roles != null and roles != ''">
                roles = #{roles},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="profile != null and profile != ''">
                profile = #{profile},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from user where user_id = #{userId}
    </delete>

</mapper>

